form.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="products" type="products"/>
  <xs:complexType name="price">
    <xs:simpleContent>
      <xs:extension base="xs:double">
        <xs:attribute type="xs:string" name="currency" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="length">
    <xs:simpleContent>
      <!--Dodałem nowy typ-->
      <xs:extension base="xs:nonNegativeInteger">
        <xs:attribute type="xs:string" name="unit" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="products">
    <!--Dodałem alla-->
    <xs:all>
      <xs:element name="games" type = "games" minOccurs="1"/>
      <xs:element name="films" type = "films" minOccurs="1"/>
      <xs:element name="e-books" type = "e-books" minOccurs="1"/>
      <xs:element name="music" type = "music" minOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="games">
    <xs:choice>
      <xs:element name="game" type = "game" minOccurs="1" maxOccurs="5"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="films">
    <xs:sequence>
      <xs:element name="film" type = "film" minOccurs="1" maxOccurs="5"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="e-books">
    <xs:sequence>
      <xs:element name="e-book" type = "e-book" minOccurs="1" maxOccurs="5"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="music">
    <xs:sequence>
      <xs:element name="album" type = "album" minOccurs="1" maxOccurs="5"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="game">
    <xs:sequence>
      <xs:element name="name" type = "xs:string" minOccurs="1"/>
      <xs:element name="price" type = "price" minOccurs="1"/>
      <xs:element name="publisher" type = "xs:string" minOccurs="1"/>
      <xs:element name="developer" type = "xs:string" minOccurs="1"/>
      <xs:element name="genres" type = "genres" minOccurs="1">
        <xs:unique name="genreUnique">
          <xs:selector xpath="genre"/>
          <xs:field xpath="."/>
        </xs:unique>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="film">
    <xs:sequence>
      <xs:element name="name" type = "xs:string" minOccurs="1"/>
      <xs:element name="price" type = "price" minOccurs="1"/>
      <xs:element name="director" type = "xs:string" minOccurs="1"/>
      <xs:element name="distributor" type = "xs:string" minOccurs="1"/>
      <xs:element name="length" type = "length" minOccurs="1"/>
      <xs:element name="genres" type = "genres" minOccurs="1">
        <xs:unique name="genreUnique2">
          <xs:selector xpath="genre"/>
          <xs:field xpath="."/>
        </xs:unique>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="e-book">
    <xs:sequence>
      <xs:element name="name" type = "xs:string" minOccurs="1"/>
      <xs:element name="price" type = "price" minOccurs="1"/>
      <xs:element name="author" type = "xs:string" minOccurs="1"/>
      <xs:element name="pages" type = "xs:integer" minOccurs="1"/>
      <xs:element name="genres" type = "genres" minOccurs="1">
        <xs:unique name="genreUnique3">
          <xs:selector xpath="genre"/>
          <xs:field xpath="."/>
        </xs:unique>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="album">
    <xs:sequence>
      <!--dodałem grupę-->
      <xs:group ref="grupa">
      </xs:group>
    </xs:sequence>
  </xs:complexType>

  <xs:group name="grupa">
    <xs:sequence>
      <xs:element name="name" type = "xs:string" minOccurs="1"/>
      <xs:element name="price" type = "price" minOccurs="1"/>
      <xs:element name="artist" type = "xs:string" minOccurs="1"/>
      <xs:element name="length" type = "length" minOccurs="1"/>
      <xs:element name="genres" type = "genres" minOccurs="1">
        <xs:unique name="genreUnique5">
          <xs:selector xpath="genre"/>
          <xs:field xpath="."/>
        </xs:unique>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="genres">
    <xs:sequence>
      <xs:element name="genre" type = "xs:string" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>



